.main-block{
    position: absolute;
    background: rgb(236, 236, 236);
    width: 1300px;
    left: 50%;
    margin-left: -650px;
    border: 1px solid black;        
}
.header-row{
  position: relative;
  display: flex;
  width: 100%;
  font-size: 11px;
}
.body-row{
  position: relative;
  display: flex;
  width: 100%;
  background: white;
  
}
.header-label{
  display: inline-block;
  width: 20%;
  vertical-align: bottom;
}
.logo{
  width: 40%;
}
.header-title{
  display: inline-block;
  width: 60%;
  vertical-align: bottom;
  font-size: 30px;
  font-weight: 700;
}
.header-date{
  width: 20%;
  display: inline-block;
  vertical-align: bottom;
  font-size: 24px;
  
}
.header-col1to2{
  display: inline-block;
  width: 748px;
  vertical-align: bottom;
  border: 1px solid black;
}
.header-col1to3{
  display: inline-block;
  width: 431.3px;
  vertical-align: bottom;
  
  border: 1px solid black;
}
.header-col2to3{
  display: inline-block;
  width: 864.66px;
  vertical-align: bottom;
  height: 100%;
  align-self: stretch ;
  border: 1px solid black;
}
.header-col1to6{
  display: inline-block;
  width: 214.66px;
  vertical-align: bottom;
  align-self: stretch ;
  border: 1px solid black;
}
.header-col5to6{
  display: inline-block;
  width: 1081.33px;
  vertical-align: bottom;
  align-self: stretch ;
  border: 1px solid black;
}
.header-col1to12{
  display: inline-block;
  width: 106.33px;
  vertical-align: bottom;
  border: 1px solid black;
}
.header-col1to4{
  display: inline-block;
  width: 323px;
  vertical-align: bottom;
  border: 1px solid black;
}
.stretch{
  width: 98%;
  height: 75%;
}
.button-right{
  position: relative;
  border-radius: 5px;
  border: 1px solid rgb(88, 166, 255);
  height: 20px;
  padding: 3px 5px 3px 5px;
  background: rgb(212, 223, 233);
  margin: 5px;
}
.timeIsUp{
  color: rgb(241, 46, 46);
}
.information{
  position: absolute;
  border: 1px solid black;
  border-radius: 10px;
  background: rgb(170, 177, 184, 0.6);
  z-index: 1;
  width: 420px;
  left: 816px;
  padding: 10px;
  color:black;
}
.information-action{
  width: 200px;
  display: inline-flex;
}
.information-responsible{
  width: 100px;
  display: inline-flex;
}
.information-date{
  width: 100px;
  display: inline-flex;
}
.information-line{
  margin: 5px 0 5px 10%;
  width: 80%;
  border-top: 1px solid black;
}
.percent{
  position: absolute;
  background: rgba(3, 158, 15, 0.6);;
  z-index: 1;
  height: 15px;
  margin-top: -17px;
}
.btn__dept-name{
  margin: 0 0 20px 0px
}
.isActive{
  background:  rgb(245, 245, 245);;
  color: rgb(212, 212, 212);
}
.bordered{
  border: 1px solid #6c757d;
  height: 45px;
  font-size: 11px;
  padding: 5px 0 5px 0;
}
.container{
  margin-top: 10px;
  padding-top: 50px;
  border: 2px solid black;
  background: rgb(218, 218, 218);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.NotActivePage{
  background: rgb(180, 180, 180); 
  color: rgb(218, 218, 218)
}
.fade-enter-active{
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
.another-one{
  
  border: 1px solid #6c757d;
  border-radius: 10px;
  width: 45px;
  height: 45px;
  background: #6c757d;
  color: whitesmoke;
  font-size: 30px;
  font-weight: 900;
}
.menu{
  position: absolute;
  margin-top: -60px;
  z-index: 1;
}
.inner{
  width: 40px;
  height: 40px;
  margin: 20px auto;
  position: relative;
  border: 2PX SOLID #6c757d;
  border-radius: 7px;
  background-color: #6c757d;
}
span{
  position: absolute;
  top:8px;
  left: 3px;
  width: 30px;
  height: 4px;
  background-color: whitesmoke;
}
b-list-group-item{
  text-align: left;
}